

.grid-container {
    display: flex;
    height: 500px;
    width: 500px;
    border: 1px red solid;
    margin: auto;
}

.cell {
    flex: 1;
    margin: 0;
    padding: 0;
    border: 1px blue dashed;
}